---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: step
spec:
  acme:
    email: tom@servonet.lan
    server: https://ca.lan/acme/acme/directory
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZYVENDQTBXZ0F3SUJBZ0lVRUJIQUJsb1VMNGRxRTlmUkR3L3ROZ3N2S1dRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd05URVVNQklHQTFVRUF3d0xTRzl0Wld4aFlpQk1ZVzR4Q3pBSkJnTlZCQVlUQWxWVE1SQXdEZ1lEVlFRSwpEQWRJYjIxbGJHRmlNQ0FYRFRJMU1EUXdPVEF6TlRVeU5Gb1lEekl3T1RRd05EQTVNRE0xTlRJMFdqQTFNUlF3CkVnWURWUVFEREF0SWIyMWxiR0ZpSUV4aGJqRUxNQWtHQTFVRUJoTUNWVk14RURBT0JnTlZCQW9NQjBodmJXVnMKWVdJd2dnSWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUUM4UGVNTXg5SjJsa01xNkFnWgpkWkEzNkpBQ0FpU3RJcFFjOE9CNjBQVGhHdzdwRWU1U0MrTlNFRzNsYVY4SVVXWGtscjEwYWJ1a2RyMGVTWnJPCjZhaGZFY0pId0VuUW9mcEl5blpQS0tHeWttSW5URHA1MlR6eGcrMnpYTlFtNUpaOXY1TnEycFY3Y2xieVhDaDYKb1FTVlY3RnRKMmZuSkNHVzJjblpvOHdhNUZSaFZRdUx0dFE1ZXZwOWVhM1BrTVJWTm5GVmtOeEhwY216OFA4Lwp5VFZLa0luTENybG9BRzh5bTl6TmRrZEZBYysrRWsvN2tyaEFqb3V1VzZkR0Y0Q25KQlN0WlIyNE5UM0l3MHlnCm0zamJNUi8xb0Uydjh2L3dFVE5WNm15Z1VVQlFTMWNNMTJRV29TZHl1UzZ4KzVkdDNaVW51WEoxQkFMZm9zdisKcHlrNHJnSVBudUR2cSsvbXorSE9lbkJvUHNjL1F6b29UTExVT2Y0R2ROekgxYVVLZU04TFBOL3gyVGVrNFpPbQpYWXBzTytZVytnV1ROYy9NQ25HNkZ1SVVmV2pjY3JHYzA5WjJ2QjNxcm5leEcrZnltRzJMZ2NLcnJKQTVVK055Cll0ektNdVd6K003T0pBYTl0bHoxRmh5RmN3aTFBMXp1eEd0UDgvdUdib0dTUlhxaDZ0S2lHSWJHV2NzdTE0M1kKVmt4Uk1JalFyWmxBYXJWdzVERDRUbkxjWHA3TFA2emIyMUVzdHlmVEN1ZTlnTVZ0VnBXSXhhb0hIcnA5b041dApOdVBncGUrTGZ4Um1ycDFPekx6ZXp1SldLU3dVaFJVcWZsM1ZyQUxXN3JORGpiREtncG54TGdTMGpla2RtR2dUCm5yZWdwd1hydGZUa1Z4WDNWZnluT1pVdER3SURBUUFCbzJNd1lUQWRCZ05WSFE0RUZnUVVzYVcrNlVneTRtZnUKc0FNN0ZmbWlKZ25ETDdZd0h3WURWUjBqQkJnd0ZvQVVzYVcrNlVneTRtZnVzQU03RmZtaUpnbkRMN1l3RHdZRApWUjBUQVFIL0JBVXdBd0VCL3pBT0JnTlZIUThCQWY4RUJBTUNBWVl3RFFZSktvWklodmNOQVFFTEJRQURnZ0lCCkFMSEhxMjB6YTVvUk1nT2l3MlpDRGVpRkNFU1l1dWdjTlg4VXg5NlJIRXZCNDlTTTdHVlNaamY0YU1icUUrRWMKSkRFUjBqYjBPM1RTa2U3NC8xbE96dlRreS9kbXVuTlFqbEhyN1BoaTVHOEY5MCtSemVCNjd1a3l4aHJGSlVidgpFeElvN09XSUhCeGtaaWdZYjdvZkw4VFFaTHZoVjA3RXhmZHNpYTFRRHZrZFo1YzZHOVNVakVER3R2UnMyUTVkCnl1QzRJbThoSkthazl1NE5sYnQ2bkRsa2Z1QXM5YVloMmJORml0cTFKNUhvOGdwcVRudzJOdTFEdTNreXJ2MHMKUjgwTGt6MGl6eWQzZnorbmZ4b25kMnN3dzJuZk9rQlpJb0FlTkt3ejBPSFRUeXkxWVVCcGVTN09PdmUzUGZGawpoY0lVaGN2TGNDV20rUWhxdlFXTUpNbGpZVW0veWpvM1dCaEdNU0RlYnB0M2VCZUZBTmtWOXVSbFZlN0VOVmE3CkVaTStlWmNXUkUxUlNaUHo2RVpKeE04MEFlSWRmQXEwSVg4RUJvbmdCMTl5ZHgxd2phYXlHYUF3L21FYkl1NGUKUFp1TjBGdEFnZG4vTzNwQTlTTzFwWC85UEJUeC9mc3lLVmdHQ1VjdktkL2hUMzl2V25VNUlIRnZsL2p2WXI3WgpDNmhTMnhzTW0vdThiRnBhc0x4c080L3JqWlBaOHNKS3l0MmR1aHVOODAxaHpnaWhaNGlpWDFuSlBYN3YzdEUwCjZvcUVBL1AwcFBFMnNwWGVRWmE0aklJQisyQkh1bStjcVJUQzE5TVNWVXZmcitNTHA0SW91Yk9KNlF2TllMUWwKdXY4VGJ3bXh0ZGMvTk5wek5HRkZiV0x1SVo3UkxLTHZFdFgyVUR6WWUzOTcKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    privateKeySecretRef:
      name: acme-issuer-account-key
    solvers:
      # - dns01:

      - http01:
          gatewayHTTPRoute:
            serviceType: ClusterIP
            parentRefs:
              - name: envoy-internal
                namespace: networking
                kind: Gateway

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-issuer-secrets
              key: CLOUDFLARE_API_KEY
        selector:
          dnsZones:
            - ${EXTERNAL_DOMAIN}
