---
apiVersion: v1
kind: Service
metadata:
  name: postgres17
  annotations:
    lbipam.cilium.io/ips: 192.168.42.103
spec:
  type: LoadBalancer
  selector:
    cnpg.io/cluster: postgres17
    cnpg.io/instanceRole: primary
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
