export GPG_TTY=$(tty)
export ANSIBLE_CONFIG=$(expand_path ./ansible.cfg)
export SOPS_AGE_KEY_FILE=$(expand_path ./key.txt)
export PROXMOX_URL=https://gpc.lan:8006/api2/json
export GPC_PACKER_USER=packer@pve
export PROXMOX_NODE="gpc"
source $(expand_path ~/.secrets)
