// Goes to .kodi/userdata/addon_data/plugin.video.youtube/api_keys.json
{
    "keys": {
        "developer": {},
        "personal": {
            "api_key": "{{ youtube_api_key }}",
            "client_id": "{{ youtube_client_id }}",
            "client_secret": "{{ youtube_client_secret }}"
        }
    }
}
