[Unit]
Description=NFS mount for media
Requires=network-online.service
After=network-online.service
Before=kodi.service

[Mount]
What={{ nas }}:/pool/storage-0/media
Where=/storage/media
Options=
Type=nfs

[Install]
WantedBy=multi-user.target
