---
apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  asNumber: 64512
  nodeToNodeMeshEnabled: true
  serviceClusterIPs:
    - cidr: "{{ k3s_server['service-cidr']}}"
  serviceLoadBalancerIPs:
    - cidr: "{{ calico_external_cidr }}"